<mat-card>
    <mat-card-header>
        <mat-card-title>Bejelentkezés</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="loginform">
        <mat-form-field>
          <mat-label>
            E-mail
          </mat-label>
          <input matInput placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Jelszó
          </mat-label>
          <input matInput placeholder="Jelszó" type="password" [(ngModel)]="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button (click)="login()">Bejelentkezés</button>
    </mat-card-actions>
</mat-card>
