<div class="container">
<h1>Submit your idea</h1>
<form [formGroup]="form" (ngSubmit)="submitted()">
<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput formControlName="name">
  <mat-error *ngIf="form.get('name')?.errors?.required">
    Name must be provided
  </mat-error>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Description</mat-label>
  <input matInput formControlName="description" name="description">
  <mat-error *ngIf="form.get('description').errors?.required">
    Description must be provided
  </mat-error>
</mat-form-field>
<button [disabled]="form.invalid || isLoading" mat-button color="primary">Save</button>
</form>
</div>
