<div class="ideas-container">
  <mat-card class="idea" *ngFor="let idea of ideas">
      <mat-card-header>
          <mat-card-title matBadge="{{idea.votes}}">{{idea.name}}</mat-card-title>
          <mat-card-subtitle>{{idea.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="start">
          <app-vote [idea]="idea" (vote)="listIdeas()"></app-vote>
          <button mat-button (click)="editIdea(idea)"><mat-icon>edit</mat-icon></button>
          <button mat-button (click)="delete(idea)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
          <button mat-button (click)="viewIdea(idea)">
            <mat-icon>pageview</mat-icon>
          </button>
      </mat-card-actions>
  </mat-card>
</div>
